<div class="text-center mb-3">


  <div id="carouselAdds" class="carousel slide carouselMain" *ngIf="funcionesTable" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselAdds" data-slide-to="i+1" *ngFor="let data of funcionesTable; let i = index"></li>
    </ol>
    <div class="carousel-inner" style="max-height: 550px;">
      <div class="carousel-item" style="max-height: 550px;" [class.active]="i==sliderInicio" *ngFor="let data of funcionesTable; let i = index">
        <img class="d-block w-100" src="{{data.imagen?data.imagen:''}}" style="height:100%;" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>{{data.descripcion!=""?data.descripcion:''}}</h5>
            <!-- <p>{{data.titulo!=""?data.titulo:''}}</p> -->
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselAdds" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselAdds" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="ml-5 mr-5 text-left mt-5">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3">
        <span class="text-primary">
          <h3>
            Evento
          </h3>
        </span>
        <small class="text-dark">
          Escoge la Funcion que mas te interese
        </small>
        <div class="accordion" id="accordionExample" *ngFor="let data of funcionesTable; let i = index">
          <div class="card">
            <div class="card-header text-secondary" id="headingOne">
              <h2 class="mb-0 ponter">
                <button class="btn btn-link text-left" type="button" (click)="collapse('collapseOne-'+((data.id)?data.id:''))">
                  {{data.titulo}} <br> Fecha: {{data.fecha_inicio}} <br> Hora: {{data.hora_inicio.substr(0,(data.hora_inicio.length-3))}}
                </button>
              </h2>
            </div>

            <div id="collapseOne-{{((data.id)?data.id:'')}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <a *ngFor="let items of data.areas" class="row text-left pl-3" [routerLink]="['./']"  (click)="navegar('./../../../evento/'+data.id+'/localidad/'+items.id)">
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    {{items.titulo}}
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <strong>
                      ${{items.precio.toFixed(2)}}*
                    </strong>
                  </div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

      </div>
    </div>
  </div>

</div>
<!-- fin container -->
  <!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
  <!-- Fin Notificaciones -->

 <!-- Fin Loader Modal -->
 <div class="modal fade" id="generalModalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body w-100">
        <app-login [isModal]="true"></app-login>
      </div>
    </div>
  </div>
</div>
