<div class="pr-5 pl-5 bg-bishound mt-5">
    <nav class="navbar navbar-expand-lg navbar-light" *ngIf="SelectedData && SelectedData.rol==1">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['./../../dashboard/home']" >Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['./../../dashboard/eventos']" >Eventos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['./../../dashboard/localidades']" >Localidades</a>
            </li>
          </ul>
        </div>
      </nav>
  <!-- Home Windows -->
  <div class="row pt-3" *ngIf="SelectedData">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mx-auto mb-3 mt-3 ">
      <!-- Seller Card -->
      <div class="card box-shadow-medium mb-5">
          <img class="shadow img-profile mt-3"src="{{(SelectedData.foto && SelectedData.foto!='null' && SelectedData.foto!='')?SelectedData.foto:'http://placehold.it/1000px1000?text=X'}}" alt="Avatar">
          <div class="card-body">
            <h5 class="card-title text-center c-azul-bishound">{{SelectedData.nombres+' '+SelectedData.apellidos}}</h5>
          </div>
          <!-- Rate Area -->
          <div class="row ml-0 mr-0">
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="rate">
                  <div class="clasificacion">
                    <input id="Ranking1" name="ranking" type="radio" [value]="5" disabled [class.checkStar]="ranking>=5">
                    <label for="Ranking1">★</label>
                    <input id="Ranking2" name="ranking" type="radio" [value]="4" disabled [class.checkStar]="ranking>=4">
                    <label for="Ranking2">★</label>
                    <input id="Ranking3" name="ranking" type="radio" [value]="3" disabled [class.checkStar]="ranking>=3">
                    <label for="Ranking3">★</label>
                    <input id="Ranking4" name="ranking" type="radio" [value]="2" disabled [class.checkStar]="ranking>=2">
                    <label for="Ranking4">★</label>
                    <input id="Ranking5" name="ranking" type="radio" [value]="1" disabled [class.checkStar]="ranking>=1">
                    <label for="Ranking5">★</label>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pt-1 text-left c-celeste-bishound">
                <h5>5</h5>
              </div>
            </div>
            <!-- Fin Rate Area -->
            <!-- info seller Area -->
          <div class="row ml-0 mr-0">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pb-1 text-center">
                <h5 class="c-azul-bishound">Tipo de Usuario: {{SelectedData.roles.titulo}}</h5>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-1 text-center">
                <a [routerLink]="['./../profile']">Editar Perfil</a>
              </div>
            </div>
            <!-- Fin info seller Area -->
          <!-- Seller Data -->
          <div class="row ml-0 mr-0 mt-1 mb-4">
            <div class="mb-2 col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left c-celeste-bishound">
              Tickets Comprados
            </div>
            <div class="mb-2 col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right c-celeste-bishound">
              <h5>0</h5>
            </div>
            <!-- <div class="mb-2 col-xs-5 col-sm-5 col-md-5 col-lg-5 text-left">
              Location
            </div>
            <div class="mb-2 col-xs-7 col-sm-7 col-md-7 col-lg-7 text-right">
              <a href="#">view on map</a>
            </div> -->

            <div class="mb-2 col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left mt-3">
              Correos
            </div>
            <div class="mb-2 col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right mt-3">
              <a href="#">Ver Todo</a>
            </div>
          </div>
          <!-- Fin Seller Data -->


      </div>
      <!-- Fin Seller Card -->
    </div>
    <!-- Fin Main Home Page -->
  </div>

  <!-- Fin Home Windows -->
</div>

  <!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
  <!-- Fin Notificaciones -->

<div class="modal fade" id="ActualizaPass">
  <div class="modal-dialog">
    <form class="modal-content" autocomplete="off" #recoveryForm="ngForm" (ngSubmit)="changePass(recoveryForm.value)">
      <div class="modal-header">
          <h4 class="modal-title">Tu clave fue reseteada, debes cambiarla</h4>
      </div>
      <div class="modal-body">
            <div class="form-group">
              <div class="input-group mb-3">
                  <input type="password" class="form-control bishound-input" placeholder="Escribe otra vez la clave que te enviamos" id="old_pass" name="old_pass" required
                  ngModel #old_pass="ngModel">
              </div>
            </div>
          <div class="form-group">
              <div class="input-group mb-3">
                  <input type="password" class="form-control bishound-input" placeholder="Crea una nueva clave" id="new_pass" name="new_pass" required
                  ngModel #new_pass="ngModel">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group mb-3">
                  <input type="password" class="form-control bishound-input" placeholder="Confirma tu nueva clave" id="new_pass_rep" name="new_pass_rep" required
                  ngModel #new_pass_rep="ngModel">
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="(new_pass.value!=new_pass_rep.value) || new_pass.value==''">Change Password</button>
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
      </div>
    </form>
  </div>
</div>
