
<div class="pt-5 mt-5 container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3 text-left ">
          <form class="form-signin" autocomplete="off" id="register-form"  #registerForm="ngForm" (ngSubmit)="insert(registerForm.value)">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <img class="mb-4 " src="./../../../assets/png/fondos/TICKE3-8.png" alt="" width="150" height="50">
                </div>
              </div>
              <h1 class="h3 mb-3 mt-3 font-weight-normal">Registro</h1>
              <div class="input-group mb-1">
                <input type="email" class="form-control" name="email" required
                ngModel #email="ngModel" placeholder="Correo">
              </div>

              <div class="input-group mb-1">
                <input type="password" class="form-control" name="password" required
                ngModel #password="ngModel" placeholder="Clave">
              </div>
              <div class="input-group mb-3" >
                <input type="password" class="form-control" name="password_rep" required
                ngModel #password_rep="ngModel" placeholder="Repite tu Clave">
              </div>
              <div *ngIf="(password && password_rep) && (((password.dirty || password.touched)) || ((password_rep.dirty || password_rep.touched)))">

                  <div class="alert alert-success" *ngIf="(password.value==password_rep.value) && (password_rep && password)">
                    <strong>Tu clave es valida <i class="fa fa-check"></i></strong>
                  </div>

                  <div class="alert alert-danger" *ngIf="(password.value!=password_rep.value) && (password_rep && password)">
                    <strong>Tus Claves Deben ser iguales <i class="fa fa-exit"></i></strong>
                    <strong *ngIf="password.value.length<3">Tus Claves Deben tener mas de 3 caracteres <i class="fa fa-exit"></i></strong>
                  </div>
              </div>
              <div class="input-group mb-1">
                <input type="text" class="form-control" name="nombres" required
                ngModel #nombres="ngModel" placeholder="Nombres">
              </div>
              <div class="input-group mb-1">
                <input type="text" class="form-control" name="apellidos" required
                ngModel #apellidos="ngModel" placeholder="Apellidos">
              </div>
              <div class="input-group mb-1">
                <input type="text" class="form-control" name="descripcion" required
                ngModel #descripcion="ngModel" placeholder="Describe un poco de ti">
              </div>
              <div class="input-group mb-1">
                <input type="date" class="form-control" name="nacimiento" required [(ngModel)]="nacimientoToday"
                ngModel #nacimiento="ngModel" placeholder="Fecha de nacimiento">
              </div>

              <!-- Remember me and forgot pass area -->
              <div class="mb-3 row">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 offset-xs-6 offset-sm-6 offset-md-6 offset-lg-6 text-right">
                    <a [routerLink]="['./../recovery']">Forgot password?</a>
                </div>
              </div>
              <!-- Fin Remember me and forgot pass area -->
              <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-sign-in"></i> Registrar</button>
            </form>

      </div>
    </div>

  </div>


  <!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
  <!-- Fin Notificaciones -->

