<div class="text-center mb-3">


  <div id="carouselAdds" class="carousel slide carouselMain" *ngIf="slides" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselAdds" data-slide-to="i+1" *ngFor="let data of slides; let i = index"></li>
    </ol>
    <div class="carousel-inner" style="max-height: 550px;">
      <div class="carousel-item" style="max-height: 550px;" [class.active]="i==sliderInicio" *ngFor="let data of slides; let i = index">
        <img class="d-block w-100" src="{{data.imagen?data.imagen:''}}" style="height:100%;" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>{{data.descripcion!=""?data.descripcion:''}}</h5>
            <!-- <p>{{data.titulo!=""?data.titulo:''}}</p> -->
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselAdds" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselAdds" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="text-left mt-3 ml-5">
      <h2 class="padding-main-title text-primary font-bold font-size-1875 ">Proximos Eventos</h2>
    </div>
    <!-- Table Categorys -->
  <div class="row mb-4 ml-5 mr-5">
    <div class="d-md-flex flex-wrap gutter-sm pt-3 mb-3">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mb-3 service-card"
            (click)="navegar('./evento/'+data.idtitulo+'/'+data.fecha_inicio,data.id)"
            style="cursor: pointer"
            *ngFor="let data of Table">
        <div class="card mb-4 shadow-sm">
          <img class="bd-placeholder-img card-img-top" width="100%" height="200" src="{{((data.imagen!=null && data.imagen!='')?data.imagen:'http://placehold.it/1000X1000?text=X')}}">

          <div class="card-body">
            <p class="card-text text-primary">
                {{((data.titulo!=null)?data.titulo:'')}}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted text-left">
                Fecha: {{((data.fecha_inicio!=null)?data.fecha_inicio:'')}} <br>
                Hora: {{((data.hora_inicio!=null)?data.hora_inicio:'')}}
              </small>
              <div class="btn-group ">
                <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<!-- fin container -->
  <!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
  <!-- Fin Notificaciones -->


  <!-- Fin Loader Modal -->
  <div class="modal fade" id="generalModalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-login [isModal]="true"></app-login>
          </div>
        </div>
      </div>
    </div>
