<block-ui>
<div class="body w-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" [routerLink]="['./']" (click)="navegar('./../')">
            <img src="./../../assets/png/fondos/TICKE3-8.png" width="150" height="50" class="d-inline-block align-top" alt="">
          </a>
      <ul class="nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active pointer" [routerLink]="['./']" (click)="navegar('./../')">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" [routerLink]="['./']" (click)="navegar('./../conocenos')">Conocenos</a>
        </li>
        <li class="nav-item" *ngIf="!user.id">
          <a class="nav-link pointer" [routerLink]="['./']" (click)="navegar('./login')">Entrar</a>
        </li>
        <li class="nav-item" *ngIf="!user.id">
          <a class="nav-link pointer" [routerLink]="['./']" (click)="navegar('./register')">Registrate</a>
        </li>
        <li class="nav-item dropdown mr-3" *ngIf="user.id">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user.name?user.name:user.username}} {{user.lastname?user.lastname:''}}
            </a>
            <div class="dropdown-menu" style="margin-left: -5rem;" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['./']" (click)="navegar('./../../../../../../../dashboard/home')">Panel de Informacion</a>
              <a class="dropdown-item" [routerLink]="['./']" (click)="navegar('./../../../../../../../dashboard/profile')">Perfil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['./']" (click)="logout();">Salir</a>
            </div>
        </li>
      </ul>

    </nav>
  <div style="margin-top: 60px;">
    <router-outlet></router-outlet>
  </div>
  <nav class="navbar bottom  navbar-light bg-faded">
      <div class="mx-auto text-center">
        <p class="mb-1">© 2019 ComeWithMeGT</p>
        <ul class="list-inline">
          <li class="list-inline-item px-2"><a class="pointer" [routerLink]="['./']" (click)="navegar('./../')">Conocenos</a></li>
          <li class="list-inline-item px-2" *ngIf="!user.id"><a class="pointer" [routerLink]="['./']" (click)="navegar('./login')">Entrar</a></li>
          <li class="list-inline-item px-2" *ngIf="user.idrol>1"><a class="pointer" [routerLink]="['./']" (click)="navegar('./register-admin')">Crea tus Eventos</a></li>
        </ul>
      </div>
  </nav>
</div>
</block-ui>
